
services:
  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app
      - app_nodb
    networks:
      - app-network

  app:
    build: .
    image: slavikz/challenge_3:v1
    container_name: app
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://admin:pass@mongodb:27017/
    depends_on:
      - mongodb
    networks:
      - app-network

  app_nodb:
    build: .
    image: slavikz/challenge_3:v1
    container_name: app_nodb
    command: python app_nodb.py
    networks:
      - app-network

  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: pass
    networks:
      - app-network

networks:
  app-network:

volumes:
  mongodb_data: